body {
	background: linear-gradient(180deg, rgba(36, 150, 47, 0.0188) 0%, rgba(255, 255, 255, 0) 100%), 
	linear-gradient(0deg, rgba(62, 176, 73, 0.54), rgba(62, 176, 73, 0.54));
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

button:hover{
	opacity: .7;
}

h1 {
	text-align: center;
	color: #fff;
}


.btn{
	background: linear-gradient(180deg, rgba(36, 150, 47, 0.04) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(62, 176, 73, 0.54), rgba(62, 176, 73, 0.54));
    cursor: pointer;
}

a {
    text-decoration: none;
    color:#fff;
}

a:hover {
    color: black;
}

